<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="" class="navbar-brand" routerLink="/shop">North African BIO</a>
    <!-- burger menu -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLinkActive="active"
            routerLink="/shop"
            >Shop</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                routerLinkActive="active"
                routerLink="/admin/users"
                class="dropdown-item"
                >Utilisateurs</a
              >
            </li>
            <li>
              <a
                routerLinkActive="active"
                routerLink="/admin/produits"
                class="dropdown-item"
                >Produits</a
              >
            </li>
            <li>
              <a
                routerLinkActive="active"
                routerLink="/employees"
                class="dropdown-item"
                >Employee</a
              >
            </li>
            <!-- <li><hr class="dropdown-divider" /></li> -->
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLinkActive="active"
            routerLink="/contact"
            >Contact</a
          >
        </li>
      </ul>
      <div class="d-flex">
        <app-profile-dropdown
          *ngIf="authenticationService.principal$ | async; else notLoggedId"
        >
        </app-profile-dropdown>
        <ng-template #notLoggedId>
          <button class="btn btn-secondary" type="submit" routerLink="/login">
            Login
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
