<header>
  <nav class="p-2 navbar navbar-expand-md navbar-dark bg-primary">
    <div>
      <a href="" class="navbar-brand" routerLink="/shop">North African BIO</a>
    </div>
    <ul class="navbar-nav d-flex w-100">
      <li><a class="nav-link" routerLink="/shop">Shop</a></li>
      <li class="nav-item dropdown">
        <a
          #dropdown
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/admin/users" class="dropdown-item">Utilisateurs</a>
          <a routerLink="/admin/produits" class="dropdown-item">Produits</a>
          <a routerLink="/employees" class="dropdown-item">Employee</a>
        </div>
      </li>
      <li class="w-100"></li>
      <li><a class="nav-link" routerLink="/login">Login</a></li>
    </ul>
  </nav>
</header>
