<h1>{{produit.id == null ? 'Add' : 'Edit'}} Produit - {{produit.id}}</h1>

<form>
  <label for="name">Nom Produit</label>
  <input type="text" class="form-control" id="name" placeholder="Produit Name" [(ngModel)]="produit.name" name="name">

  <label for="author">Société</label>
  <input type="text" class="form-control" id="author" placeholder="author" name="author" [(ngModel)]="produit.author"> 


  <label for="author">Prix</label>
  <input type="text" class="form-control" id="price" placeholder="price" name="price" [(ngModel)]="produit.price">


    <br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">

  <br>
  <button type="button" class="btn btn-success" (click)="saveProduit()">Enregistrer Produit</button>
</form>
